.modal {
  opacity: 0;
  transition: opacity linear .15s; }

.modal-show {
  opacity: 1; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow: auto; }

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 999; }

.modal-content {
  margin: 40px auto;
  max-width: 600px;
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.modal-open {
  overflow: hidden; }
